{% extends "headerbody/index.html" %}
{% load staticfiles %}

{% block pagecontent %}
<section class="engine">
</section>

<section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-after-navbar" id="header1-2">

    <div class="mbr-table-cell">

        <div class="container">
		    <div class="row col-md-12">

			    <div class="col-md-6">
                    <p class="mbr-section-lead lead">Engineering Success</p>
					<p>Hi, welcome to my site.  I am an engineer with an electronics and software background.  I strive to instigate change and innovation.	
					</p>
					<p>
					-Mike
					</p>
				</div>
				<div class="col-md-6 imageClip">
					<img class="imageClip" src="{% static 'images/mike.jpg' %}" />
				</div>
            </div>

        </div>
    </div>

    

</section>
{% endblock %}